fastapi
uvicorn[standard]
pydantic
python-multipart
python-whois
google-auth
google-auth-oauthlib
google-api-python-client
python-dotenv
scikit-learn
joblib
numpy
torch
transformers
safetensors
pandas

gdown
xgboost
lightgbm
imbalanced-learn
tldextract
validators
beautifulsoup4
shap
requests

scipy

firebase-admin